@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
.nav-var-fix {
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 1000px) {
    .nav-var-fix {
        display: none;
    }
    .idol-message {
        margin-left: 0 !important;
    }
    .singOutBtn {
        margin-left: 0px !important;
    }
}

body {
    background-color: #f4f4f7;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Montserrat', sans-serif;
}

.photo-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-cont img {
    width: 12rem;
    height: 16rem;
    margin: 0.5rem;
    border-radius: 7px;
    object-fit: cover;
}

.photo-card-text h3 {
    font-size: 18px;
    margin-left: 15px;
    color: grey;
    font-weight: bold;
}

.pohto-card-price p {
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
    color: grey
}

.photo-card:hover {
    cursor: pointer;
}

.loginBtn {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    align-items: center;
    color: white;
    background-color: #161616;
}

.loginBtn button {
    border: none;
    outline: none;
    text-align: inherit;
    font-size: 15px;
}

.singOutBtn {
    margin-left: 30px;
    margin-top: 6px;
    border-radius: 7px;
    background-color: #161616;
    color: white;
    border: 1px solid white;
    width: 100px;
}

.singOutBtn:hover {
    cursor: pointer;
    color: #161616;
    background-color: white;
}

.loginBtn:hover {
    cursor: pointer;
}

.loginImg {
    border: none;
    outline: none;
}

.loginImg img {
    width: 25px;
    height: 25px;
    outline: none;
}

.idol-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.idol-description {
    margin-top: 30px;
    width: 350px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
}

.idol-description-header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

.idol-description h2 {
    color: grey;
    text-align: center;
    margin-left: 15px;
}

.idol-description h3 {
    color: grey;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}

.idol-description p {
    color: grey;
}

.idol-description img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
}

.idol-description-text {
    width: 85%;
    margin: 20px auto;
    text-align: center;
    line-height: 1.5;
}

.idol-message {
    border-radius: 7px;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    background-color: white;
    margin-top: 30px;
    margin-left: 80px;
    width: 350px;
}

.idol-message-conteiner {
    width: 85%;
    margin: 10px auto;
}

.idol-message h4 {
    color: grey;
    font-weight: bold;
    font-weight: 700;
}

.idol-description-price {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    color: grey;
}

.idol-description-forwho {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.idol-description-element {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    margin-top: 10px;
}

.idol-description-element i {
    font-size: 35px;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.idol-description-element p {
    text-align: center;
    font-weight: bold;
}

.idol-description-input {
    display: flex;
    flex-direction: column;
}

.idol-description-input input,
textarea {
    font-size: 16px;
    border: none;
    outline: none;
    width: 90%;
    overflow: hidden;
    border-bottom: 1px solid #000000;
    margin: 10px auto;
}

.idol-message button {
    width: 100%;
    border-radius: 30px;
    height: 40px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0abcf9;
    background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
    margin-top: 10px;
}

.idol-message button:hover {
    cursor: pointer;
}

.confimationContenedor {
    display: flex ;
    justify-content: center;
    height: 80vh;
    flex-direction: column;

}
.confimationContenedor i {
   font-size:100px;
   color: green;
   margin: 1px auto;
}
.confimationContenedor h1{
    font-size: 30px;
    margin-top: 30px;
   text-align: center;
}

.noti-icon {
    position: relative;
    margin-top:10px ;
    margin-left: 20px;
   
}

.noti-icon i {
    color:white;
    font-size: 18px;
    margin:2px auto;
   
}

.noti-conte{
    display: none;
    margin-top: 15px;
    padding: 8px;
    color:black;
    position: absolute;
    width: 200px;
    margin-left: -80px;
    background-color: white;
    text-decoration: none;
    outline: none;
    border-radius:7px ;
}
.noti-conte p{
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.messages{
    margin-bottom: 50px;
   
}
.messages h1{
    text-align: center;
}
.photo-cont-message{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-cont-message img {
    width: 12rem;
    height: 16rem;
    margin: 0.5rem;
    border-radius: 7px;
    object-fit: cover;
}
.message-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.message-card-text{
    margin-top: 30px;
    font-size: 30px;
}

.sidebarDot_event {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color:red;
    display: inline-block;
    margin-bottom: -9px;
    margin-left: -5px;
}
.myproflie{
    text-decoration: none;
    color: rgb(255, 17, 17);
    margin-top: 10px;
  
}
.nav-link a{
    color: white !important;
}