@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


.nav-var-fix{
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 1000px) {
    .nav-var-fix {
     display: none;
    }
  }

  body {
   background-color: #161616;
   font-family: sans-serif;
   }


   .photo-cont{
       display:flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
   }
   .photo-cont img{
       width:12rem;
       height:16rem;
       margin:0.5rem;
       border-radius: 7px;
       object-fit: cover;
      
   }
  
 .photo-card-text h3{
     font-size: 18px;
     margin-left: 15px; 
     color: white
 }

 .pohto-card-price p{
     font-weight: bold;
     font-size: 15px;
     margin-left: 15px;
     color: white
 }
 .photo-card:hover{
     cursor: pointer;
 }
 .loginBtn{
    display: flex;
    flex-direction: row;
    width:200px;
    height:40px;
    align-items: center;
    color:white;
    background-color: #161616;  
 }
.loginBtn button{
    border:none;
}
 .loginImg{
    border:none;
 }
 .loginImg img{
     width: 40px;
     height: 40px;
 }
  .loginImg img:hover{
cursor: pointer; 
}
.idol-profile{
    display: flex;
    flex-direction: row;
}
.idol-description{
    margin-top:30px;
    display: flex;
    flex-direction: row;
    border:1px solid white;
    padding:4px;
    background-color: #b4b4b4;
    max-width: 750px;
}
.idol-description h2{
    color:white;
  text-align: center;
}
.idol-description h3{
    color:white;
    font-size: 21px;
}
.idol-description p{
    color:white;
 
}
.idol-description img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:50%;
}
.idol-description-price{
    text-align: center;
    font-size:30px;
}


.idol-message{
    border:1px solid white;
    background-color: #b4b4b4;
    margin-top:30px;
    margin-left: 10px;
    width: 390px;
}
.idol-message textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:350px;
    height:300px;
}